/**
 * Color Palette
 * See http://colormind.io/bootstrap/
 * 1. #F5F5F5 - white, for text and backgrounds
 * 2. #A1A9BB - light gray
 * 3. #EA824B - orange, primary color
 * 4. #C27081 - pink, dark accent color, rarely used
 * 5. #21669B - blue, for display text and backgrounds
 -------------------------------------------------------------------------------
 * Semantic Colors
 * See https://www.color-hex.com/color-palette/1015829
 * 1. #db2828 - Red, for errors
 * 2. #fbbd08 - Yellow, for warnings
 * 3. #21ba45 - Green, for success
 */
/* Tailwind CSS */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base */

:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

body {
    --body-color: #dfdfdf;
    --body-bg: #242424;
    color: var(--body-color);
    background-color: #000;
}

/* Typography */

.h1 {
    font-size: 1.5rem !important;
    font-weight: 700 !important;
}

.h2 {
    font-size: 1.25rem !important;
    font-weight: 600 !important;
}

.h3 {
    font-size: 0.875rem !important;
    font-weight: 600 !important;
}

/* Layout */

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-areas: 
        "sidebar main-content";
}

.sidebar {
    /* Variables */
    --sidebar-color: #dfdfdf;
    --sidebar-bg: #000;

    /* Default Styles */
    grid-area: sidebar;
    padding: 2rem 1.5rem;
    color: var(--sidebar-color);
    background-color: var(--sidebar-bg);
}

.main-content {
    grid-area: main-content;
    border-radius: 0.25rem;
    margin: 1rem;
    padding: 2rem 1.5rem;
    background-color: var(--body-bg);
}

/* Sidebar */

.sidebar-brand {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.logo {
    width: auto;
    height: 2rem;
}

/* Buttons */

.btn {
    /* Variables */
    --btn-border-color: transparent;
    --btn-padding-x: 0.75rem;
    --btn-padding-y: 0.375rem;
    --btn-font-size: 1rem;
    --btn-color: #000;
    --btn-bg: transparent;
    --btn-hover-border-color: var(--btn-border-color);
    --btn-hover-color: var(--btn-color);
    --btn-hover-bg: var(--btn-bg);

    /* Default Styles */
    display: inline-block;
    border: 1px solid var(--btn-border-color);
    border-radius: 0.25rem;
    padding: var(--btn-padding-y) var(--btn-padding-x);
    font-size: var(--btn-font-size);
    font-weight: 500;
    color: var(--btn-color);
    background-color: var(--btn-bg);
    cursor: pointer;
    transition: border-color 0.2s ease-in-out,
        color 0.2s ease-in-out,
        background-color 0.2s ease-in-out;
}

.btn:hover {
    border-color: var(--btn-hover-border-color);
    color: var(--btn-hover-color);
    background-color: var(--btn-hover-bg);
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-sm {
    --btn-padding-x: 0.5rem;
    --btn-padding-y: 0.25rem;
    --btn-font-size: 0.875rem;
}

.btn-primary {
    --btn-border-color: #2d2b3c;
    --btn-color: #dfdfdf;
    --btn-bg: #2d2b3c;
    --btn-hover-bg: #3a3855;
    --btn-hover-border-color: #3a3855;
    --btn-hover-color: #dfdfdf;
}

.btn-secondary {
    --btn-border-color: #444;
    --btn-color: #dfdfdf;
    --btn-bg: #444;
    --btn-hover-border-color: #555;
    --btn-hover-bg: #555;
}

.btn-outline {
    --btn-border-color: #444;
    --btn-color: #dfdfdf;
    --btn-bg: transparent;
    --btn-hover-bg: #444;
}

.btn-text-danger {
    --btn-color: #ff0000;
    --btn-hover-border-color: #cc0000;
    --btn-hover-color: #dfdfdf;
    --btn-hover-bg: #cc0000;
}

/* Modals */

.modal {
    /* Variables */
    --modal-max-width: 500px;
    --modal-color: #dfdfdf;
    --modal-bg: #000;

    /* Default Styles */
    width: auto;
    max-width: var(--modal-max-width);
    border: 1px solid #000;
    border-radius: 0.25rem;
    color: var(--modal-color);
    background-color: var(--modal-bg);
}

.modal-header,
.modal-body,
.modal-footer {
    padding: 1rem;
}

.modal-header {
    border-bottom: 1px solid #444;
}

.modal-footer {
    border-top: 1px solid #444;
}

.modal-title {
    font-size: 1rem;
    font-weight: 600;
}

/* Forms */

.form-group {
    margin-bottom: 1rem;
}

.form-label {
    /* Variables */
    --form-label-font-size: 1rem;

    /* Default Styles */
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: var(--form-label-font-size);
    font-weight: 600;
    white-space: nowrap;
}

.form-label-sm {
    --form-label-font-size: 0.875rem;
}

.form-control {
    /* Variables */
    --form-control-padding-x: 0.75rem;
    --form-control-padding-y: 0.375rem;
    --form-control-font-size: 1rem;

    /* Default Styles */
    display: block;
    width: 100%;
    padding: var(--form-control-padding-y) var(--form-control-padding-x);
    font-size: var(--form-control-font-size);
    line-height: normal;
    border: 1px solid #444;
    border-radius: 0.25rem;
    color: var(--body-color);
    background-color: var(--body-bg);
}

.form-control-plaintext {
    display: block;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding: 0.375rem 0;
    font-size: inherit;
    line-height: normal;
    color: var(--body-color);
    background-color: transparent;
    outline: 0;
}

.form-control-plaintext:focus {
    border-color: #444;
    padding: 0.375rem 0.75rem;
}

.form-control-sm {
    --form-control-padding-x: 0.5rem;
    --form-control-padding-y: 0.25rem;
    --form-control-font-size: 0.875rem;
}

/* Projects */

.project-item {
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.project-item.active {
    font-weight: 600;
    border-color: #3a3855;
    color: #dfdfdf;
    background-color: #3a3855;
}

.project-item:not(.active):hover {
    border-color: #242424;
    background-color: #242424;
}

/* Todos */

.todo-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0.25rem;
    color: var(--body-color);
    background-color: var(--body-bg);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.todo-item > :not(input[type='checkbox']) {
    pointer-events: none;
}

.todo-item:hover {
    background-color: #000;
}

.todo-title {
    font-size: 0.875rem;
    font-weight: 600;
}

.todo-item.completed {
    opacity: 0.5;
}

.todo-item.completed .todo-title {
    text-decoration: line-through;
}

.todo-details {
    margin-left: auto;
}

.todo-priority {
    width: 0.5rem;
    height: 0.5rem;
    border: 1px solid transparent;
    border-radius: 50%;
    font-size: 0.75rem;
    line-height: 1;
}

.todo-priority.priority-low {
    background-color: #21ba45;
}

.todo-priority.priority-medium {
    background-color: #fbbd08;
}

.todo-priority.priority-high {
    background-color: #db2828;
}

.todo-due-date {
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1;
    color: #333;
    background-color: #eee;
}

.todo-notes-indicator {
    color: #ccc;
}